{% extends 'home/index.html' %}

{% block title %}Sign In Page{% endblock %}

{% block content %}
  <div class="signin-container">
    <div class="form login">
      <header>Login</header>
      <form method="POST" action="{% url 'users:login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <a href="#">Forgot password?</a>
        <input type="submit" class="button" value="Login">
      </form>
      <div class="signup">
        <span>Don't have an account?
         <a href="{% url 'users:register' %}">Signup</a>
        </span>
      </div>
    </div>
  </div>
{% endblock content %}
