absl-py==2.1.0
appdirs==1.4.4
asgiref==3.7.2
astunparse==1.6.3
atomicwrites==1.4.0
backports.weakref==1.0.post1
brotlipy==0.7.0
constantly==15.1.0
cssselect==1.1.0
distlib==0.3.8
Django==4.2.3
docopt==0.6.2
et-xmlfile==1.1.0
filelock==3.13.1
flatbuffers==24.3.25
fst-pso==1.8.1
gast==0.5.4
google-pasta==0.2.0
grpcio==1.62.2
inflection==0.5.1
ipython==8.12.3
jsonpointer==2.1
libclang==18.1.1
mistune==3.0.2
ml-dtypes==0.3.2
munkres==1.1.4
namex==0.0.8
nbconvert==7.16.4
openpyxl==3.0.10
opt-einsum==3.3.0
optree==0.11.0
pep8==1.7.1
Pillow==9.4.0
pipreqs==0.5.0
ply==3.11
protobuf==4.25.3
psycopg2==2.9.6
PyDispatcher==2.0.5
PyILP==0.0.1
PyQt5-sip==12.11.0
pyswip==0.2.10
python-crfsuite==0.9.10
python-dotenv==1.0.0
queuelib==1.5.0
rich==13.7.1
spark-parser==1.8.9
sqlparse==0.4.4
termcolor==2.4.0
webencodings==0.5.1
yarg==0.1.9